<footer>
    <div class="footer-content">
        
        <div class="footer1">
            <div>
                
            </div>
          <div>
            <input type="text"><button type="button">Newsletter</button>
          </div>
        </div>
        
    </div> 

    <div  style="
      width: 100%;
      height: 2px;
      background-color: black;
    "></div>

    <div class="footer-content">  
        <div class="footer2">
            <div class="footer2-box">
                <h2>HealthSpito</h2>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <h2>Patient Care</h2>
                <ul>
                    <li>Online Primary Care</li>
                    <li>Our Services</li>
                    <li>FAQ</li>
                    <li>Support Centre</li>
                </ul>
            </div>
            <div class="footer2-box">
                <h2>Our Partners</h2>
                <div class="images">
                    <img src="logo1.png" alt=""> 
                    <img src="logo2.png" alt=""> 
                    <img src="logo3.png" alt="">  
                </div>
                <h2>Join Our Community</h2>
                <div class="icons">
                    <img src="facebook-app-symbol.png" alt="">
                    <img src="twitter.png" alt="">
                    <img src="instagram.png" alt="">
                    <img src="youtube.png" alt="">
                </div>
            </div>
            <div class="footer2-box">
                <div class="app-link">
                    <p>Download our mobile app <br>for both ios or Android.</p>
                    <div class="image-link">
                        <img src="qrcode.png" alt="">
                        <div>
                            <img src="google.png" alt=""> <br>
                            <img src="applestore.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="footer3">
         <p>Copyright&copy;2025 HealthSpito by Techritoma Inc. </p>  
    </div> 
</footer>
