header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  box-shadow: 0px 0px 8px;
  font-weight: 400;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: white;
}
header img {
  width: 250px;
  height: 90px;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  margin-left: 20px;
  list-style: none;
}

header nav ul li a, .dropdown a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

/* Style The Dropdown Button */
.dropbtn {
  font-size: 23px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown a:hover {
  text-decoration: underline;
}
.dropbtn mat-icon, button {
  font-size: 25px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-left: 30px;
  height: fit-content;
  padding: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

header button {
  padding: 10px 25px;
  margin-left: 20px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  background-color: #3472e4;
  box-shadow: 0px 0px 10px;
  cursor: pointer;
}

.nav-small-device {
  display: none;
}

@media screen and (max-width: 800px) {
  header {
    padding: 10px;
  }
  header img {
    width: 190px;
    height: 70px;
  }
  .nav-large-device {
    display: none;
  }
  .nav-small-device {
    display: block;
  }
}
