<header>
  <img src="logo.png" alt="" routerLink="/"/>

  <nav class="nav-large-device">
    <ul>
      <ng-container *ngIf="!showOnboardingNav">
        <li><a routerLink="/">Home</a></li>
        <li><a href="">Services</a></li>
        <li>
          <div class="dropdown">
            <span class="dropbtn">More<mat-icon>keyboard_arrow_down</mat-icon></span>
            <div class="dropdown-content"> 
              <a href="#">FAQ</a>
              <a href="#">Blog</a>
              <a href="#">About</a>
              <a href="#">Contact</a>
              <a href="#">Hospitals</a>
              <a href="#">Pharmacies</a>
            </div>
          </div>
        </li>
      </ng-container>

      <ng-container *ngIf="showOnboardingNav">
        <li><a >Feature</a></li>
        <li><a >Pricing</a></li>
      </ng-container>

      <div class="dropdown">
          <button class="dropbtn">Login</button>
          <div class="dropdown-content"> 
            <a routerLink="/personel-login">Personel</a>
            <a routerLink="/institute-login">Health Institute</a>
          </div>
      </div>
    </ul>
  </nav>

  <nav class="nav-small-device">
    <ul>
      <li>
        <div class="dropdown">
          <span class="dropbtn"><mat-icon>menu</mat-icon></span>
        <div class="dropdown-content">

        </div>
          <div class="dropdown-content"> 
            <ng-container *ngIf="!showOnboardingNav">
              <a href="">Home</a>
              <a href="">Services</a>
              <a href="#">FAQ</a>
              <a href="#">Blog</a>
              <a href="#">About</a>
              <a href="#">Contact</a>
              <a href="#">Hospitals</a>
              <a href="#">Pharmacies</a>
            </ng-container>

            <ng-container *ngIf="showOnboardingNav">
              <a href="#">Feature</a>
              <a href="#">Pricing</a>
              <button>Login</button>
            </ng-container>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>