.login {
    margin: 200px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form {
    width: 60%;
    background-color: rgba(133, 201, 179, .13);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 30px;
    box-shadow: 0 0 5px;
}

.login form .container1 {
    padding: 30px;
}
.login form .container1 h1 {
    font-size: 3rem;
    margin: 30px 0;
}
.login form .container1 p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

p a {
    text-decoration: none;
    color: rgb(74, 74, 248);
}
.login form fieldset {
    border: none;
}

.login form fieldset div {
    background-color: white;
    margin: 15px 0;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
}
.login form fieldset input{
    border: none;
    font-size: 25px;
    width: 100%;
    outline: none;
    margin-left: 10px;
}

.container-sub, .check-password {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.container-sub .check-password input[type='checkbox'] {
    width: 25px;
    height: 25px;
    margin-right: 10px;
} 

span a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(74, 74, 248);
}
button {
    width: 100%;
    margin: 15px 0 30px 0;
    font-size: 20px;
    padding: 10px;
    border: none;
    background: rgb(74, 74, 248);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

form .text {
    text-align: center;
    color: white;
    background: url(../../../../../public/login.png);
    background-position: center;
    background-size: cover;
    border-radius: 0 30px 30px 0;
}

form .text h1{
    font-size: 3rem;
    margin: 200px 0px 20px 0px;
    text-shadow: 0px 2px 10px black;
}

form .text p{
    font-size: 2rem;
    line-height: 1;
    text-shadow: 0px 2px 10px black;
}

@media screen and (max-width: 800px) {
  .login form {
    width: 70%;
    grid-template-columns: 1fr;
  }
  .text {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .login form {
    width: 90%;
  }
}
