.buttons {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.buttons div button {
  padding: 7px 25px;
  font-size: 18px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 0px 1px black;
}

.buttons div button.active {
  background-color: #3472e4;
  color: white;
  translate: scale(1.2);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

main .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 60%;
  height: 70vh;
  background: rgba(133, 201, 179, 0.13);
  border-radius: 30px;
  box-shadow: 0px 0px 4px black;
  text-align: center;
}

main .form .form-contact {
  padding: 20px;
}

main .form .form-contact h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: start;
  line-height: 1;
}

main .form .form-contact h3 {
  margin: 15px 0;
}


form button {
  padding: 7px 15px;
  font-size: 18px;

  border: none;
  border-radius: 10px;
  color: white;
  background-color: #3472e4;
  cursor: pointer;
  transition: background-color 0.3s;
}

form .input
 {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.155);
  background-color: white;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
}

form input, form select {
  width: 100%;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 3px;
  margin-left: 5px;
}

.form-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

img {
  width: 100%;
  height: 70vh;
  border-radius: 0 30px 30px 0;
}

.step1 p {
  margin-top: 50px;
  font-size: 1.2rem;
}

section.pin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 32px;
}

section.pin input {
  width: 50px;
  height: 60px;
  font-size: 30px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.155);
}

form .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

p span {
  color: #3472e4;
}

p {
  margin: 10px;
}

p,
h3 {
  font-size: 1.2rem;
  text-align: start;
}

.step2 p {
  text-align: center;
  margin-top: 60px;
}

.step3 .gender div,
.agreed {
  display: flex;
  margin-top: 10px;
}

.agreed {
  display: flex;
  margin-bottom: 50px;
}

.step3 .gender div input,
.agreed input {
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.agreed p {
  font-size: 17px;
}

button[type="submit"], button[type="button"] {
  width: 100%;
}

@media screen and (max-width: 800px) {
  main .form {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .image {
    display: none;
  }

}
