<div class="buttons">
  <div>
    <button
      [ngClass]="{ active: formPresent === 'step1' }"
      (click)="changeTab('step1')"
    >
      Step 1
    </button>
    <button
      [ngClass]="{ active: formPresent === 'step2' }"
      (click)="changeTab('step2')"
    >        
      Step 2
    </button>
    <button
      [ngClass]="{ active: formPresent === 'step3' }"
      (click)="changeTab('step3')"
    >
      Step 3
    </button>
    <button
      [ngClass]="{ active: formPresent === 'step4' }"
      (click)="changeTab('step4')"
    >
      Step 4
    </button>
  </div>
</div>

<main>
  <form class="form">
    <div class="form-contact">
      <div class="headings">
        <h2>Become Part of Us</h2>
        <div
          class="box-line"
          style="
            width: 30%;
            height: 7px;
            border-radius: 30px;
            background-color: #3472e4;
            margin: 15px 0;
          "
        ></div>
      </div>
      <ng-container *ngIf="formPresent === 'step1'">
        <fieldset class="step1">
          <!-- Step 1 form fields go here -->
           <h3>Step 1: Demographic and Institute Informations</h3>
          <div class="input">
            <mat-icon>person</mat-icon>
            <input type="text" placeholder="Institute Name"/>
          </div>
          <div class="input">
            <mat-icon>email</mat-icon>
            <input type="email" placeholder="Institute Email " />
          </div>
          <div class="input">
            <mat-icon>date_range</mat-icon>
            <input type="date" placeholder="Date Of Creation" />
          </div>

          <section class="form-boxes">
            <div class="input">
              <mat-icon>home</mat-icon>
              <select>
                <option value="">Country</option>
                <option value="AF">Afghanistan</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="BN">Brunei Darussalam</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="CV">Cabo Verde</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos (Keeling) Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CD">Congo, Democratic Republic of the</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CW">Curaçao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="SZ">Eswatini</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands (Malvinas)</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard Island and McDonald Islands</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IR">Iran, Islamic Republic of</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="KP">
                  Korea, Democratic People's Republic of
                </option>
                <option value="KR">Korea, Republic of</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Lao People's Democratic Republic</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia, Federated States of</option>
                <option value="MD">Moldova, Republic of</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PS">Palestine, State of</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="RE">Réunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russian Federation</option>
                <option value="RW">Rwanda</option>
                <option value="BL">Saint Barthélemy</option>
                <option value="SH">
                  Saint Helena, Ascension and Tristan da Cunha
                </option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint Lucia</option>
                <option value="MF">Saint Martin (French part)</option>
                <option value="SX">Saint Martin (Dutch part)</option>
                <option value="PM">Saint Pierre and Miquelon</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten (Dutch part)</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">
                  South Georgia and the South Sandwich Islands
                </option>
                <option value="SS">South Sudan</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SZ">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syrian Arab Republic</option>
                <option value="TW">Taiwan, Province of China</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania, United Republic of</option>
                <option value="TH">Thailand</option>
                <option value="TL">Timor-Leste</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States of America</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Viet Nam</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
              </select>
            </div>

            <div class="input">
              <mat-icon>settings_phone</mat-icon>
              <input type="text" placeholder="Phone Number" />
            </div>
            <div class="input">
              <mat-icon>person_pin_circle</mat-icon>
              <input type="text" placeholder="City" />
            </div>
            <div class="input">
              <mat-icon>person_pin</mat-icon>
              <input type="text" placeholder="Address" />
            </div>
          </section>

          <button type="button" (click)="changeTab('step2')">Next</button>
        </fieldset>
      </ng-container>

      <ng-container *ngIf="formPresent === 'step2'">
        <fieldset class="step2">
          <!-- Step 2 form fields go here -->
          <h3>Step 2: Email Verification</h3>
          <p>
            Please enter the 5 digit code send to <br />
            your email above
          </p>
          <section class="pin">
            <input type="text" />
            <input type="text" />
            <input type="text" />
            <input type="text" />
            <input type="text" />
          </section>
 
          <div class="text">
            <p>If code not seen, <span>resend?</span></p>
            <p><span>3:00 mins</span></p>
          </div>

          <button type="button" (click)="changeTab('step3')">Next</button> 
        </fieldset>
      </ng-container>

      <ng-container *ngIf="formPresent === 'step3'">
        <fieldset class="step3">
          <!-- Step 3 form fields go here -->
           <h3>Step 3: Password and Credentials</h3>
          <div class="input">
            <mat-icon>lock</mat-icon>
            <input type="password" placeholder="Password" />
          </div>
          <p>Input password again for confirmation</p>
          <div class="input">
            <mat-icon>lock</mat-icon>
            <input type="password" placeholder="Confirm Password" />
          </div>
          
          <h3>Extra Informations</h3>
          <div class="input">
            <mat-icon>person_outline</mat-icon>
            <input type="text" placeholder="Laboratory Specialty" />
          </div>
          <div class="input">
            <mat-icon>person_outline</mat-icon>
            <input type="text" placeholder="Services Provided" />
          </div>
          <div class="input">
            <mat-icon>calendar_today</mat-icon>
            <input type="number" placeholder="Years of Experience" />
          </div>

          <button type="button" (click)="changeTab('step4')">Next</button>
        </fieldset>
      </ng-container>

      <ng-container *ngIf="formPresent === 'step4'">
        <fieldset class="step4">
          <h3>Step 4: Finalization and Consent</h3>
          <!-- Step 5 form fields go here -->
           <p>Insurance Panels Document *</p>
          <div class="input">
            <mat-icon>description</mat-icon>
            <input type="file" placeholder="" />
          </div>
          <p>Upload Institute Photo</p>
          <div class="input">
            <mat-icon>person</mat-icon>
            <input type="file" placeholder="" />
          </div>
          <h3>Summary text of Institution</h3>
          <textarea name="" id=""></textarea>
          <div class="agreed">
            <input type="checkbox" />
            <p>I agree with policies and services. <span>Learn More</span></p>
          </div>

          <button type="submit">Sign Up</button>
        </fieldset>
      </ng-container>
    </div>

    <div class="image">
      <img src="onboards-image.png" alt="" />
    </div>
  </form>
</main>

<app-footer></app-footer>
